{% extends 'crm/base.html' %}
{% block Content %}
    <div class="container py-5">
        <div class="row">


            <div class="col-12 mb-3">
                <h1> Сотрудники </h1>
            </div>

            <form method="get" class="col-12 d-flex mb-3">
                <input value="{{ fio }}" type="text" name="fio" class="form-control w-75 me-3" placeholder="Поиск">
                <select class="form-control w-25 me-3" name="otdel">
                    <option value="">Все</option>
                    {% for i_otdel in otdel_list %}
                        <option {% if otdel == i_otdel.id %}selected{% endif %}
                                value="{{ i_otdel.id }}">{{ i_otdel.nazvanie }}</option>
                    {% endfor %}
                </select>

                <select class="form-control w-25 me-3" name="pol">
                    <option value="">Все</option>
                    {% for i_pol in pol_list %}
                        <option {% if pol == i_pol.id %}selected{% endif %}
                                value="{{ i_pol.id }}">{{ i_pol.nazvanie }}</option>
                    {% endfor %}
                </select>

                <button type="submit" class="btn btn-success">Поиск</button>
            </form>
            {% for sotrudnic in sotrudnici %}
                <div class="col-12 col-md-4 mb-3">
                    <div class="card p-3">
                        <div><b><a href="{% url 'render_detail_sotrudnic' sotrudnic.id %}"> {{ sotrudnic.fio }}</a></b>
                        </div>
                        <hr>
                        <div><b>Дата рождения: </b>{{ sotrudnic.data_rozdenia }}</div>
                        <div><b>Должность: </b>{{ sotrudnic.dolznost }}</div>
                        <div><b>Отдел: </b>{{ sotrudnic.otdel }}</div>
                        {% if sotrudnic.photo %}
                            <img src="{{ sotrudnic.photo.url }}">
                        {% endif %}

                    </div>
                </div>
            {% empty %}
                <div class="alert alert-danger">Извините я ничего не нашёл. Пожалуйтса уточните поиск</div>
            {% endfor %}


        </div>
    </div>
{% endblock %}